@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  display: grid;
  height: 100vh;
  place-content: center;
  background-color: var(--background);
}

h1 {
  font-size: 2rem;
  color: var(--text);
}

.switch-wrapper {
  position: relative;
  width: 70px;
  height: 35px;
  display: block;
  margin: auto;
}

.switch-wrapper input {
  visibility: hidden;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--slider);
  border-radius: 25px;
}

.slider:before {
  content: '';
  height: 25px;
  width: 25px;
  background: var(--slider-button);
  position: absolute;
  top: 5px;
  left: 7px;
  border-radius: 50%;
  transition: 0.2s;
}

input:checked + .slider:before {
  transform: translateX(30px);
}
